[Unit]
Description=Super careless DHCP hack in case device names change
ConditionPathExists=/usr/local/bin/fix-dhcp-hack.sh

[Service]
Type=forking
ExecStart=/usr/local/bin/fix-dhcp-hack.sh
Before=getty.target

TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=basic.target
